
.demo-card-square.mdl-card {
  width: 320px;
  height: 350px;
  margin-top: 90px;
  margin-left: 38%;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat rgb(255, 255, 255);
}
.bg-model{
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top : 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
 
}
.model-content{
  
  width: 80%;
  height: 48%;
  background-color: rgba(155, 143, 143, 0.986);
  border-radius: 4px;
 position: relative;
}
.x{
   position: absolute;
   top : 7px;
   right:7px ;
   font-size: 30px;
   transform: rotate(45deg);
   cursor: pointer;

}
