.request-form 
    {
        position: relative;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        height: 0%;
        box-shadow: 2px 2px #bbbaba;
        padding:  10px;
       /* // background-color: antiquewhite; */
        top: 5em;
        left :30%;
        height: 50%;
        width: 50%;
        justify-content: center;
    
        align-content: center;
    }
    div.mdl-layout__drawer
{
  border: none;
}

.request-form label{
    
        text-align: center;
        font-family :Tahoma, sans-serif;
        text-size-adjust: 20px;
        text-transform: uppercase;
        color: rgb(26, 26, 27);
      
      
}
.request-form .specs
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
.request-form input[type= text] , .device {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.request-form input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  