/* Containers */
.mdl-layout--fixed-tabs .mdl-layout__tab {
	flex-basis: 0;
}
div.page-content {
	padding: 20px;
	text-align: center;
}
div.main {
	padding: 10px;
}

/* Tables */
table.mdl-data-table {
	display: inline-block;
	overflow-x: scroll;
}
table.mdl-data-table tr:last-child td {
	border-bottom: none;
}
table th[colspan="2"],
table td[colspan="2"] {
	text-align: center;
}

/* Overrides */
.mdl-spinner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#fixed-tab-1 .mdl-data-table tbody tr:hover {
	background-color: #fff;
}
#fixed-tab-1 .mdl-data-table tbody td:hover {
	background-color: #eee;
}
#fixed-tab-1 .mdl-data-table .mdl-data-table__cell {
	text-align: center;
}
.mdl-checkbox {
	width: unset;
}
.mdl-layout__drawer{
	border-right: none;
}

/* User defined */
th.activate {
	background-color: #eee;
}
#insert_data {
	display: none;
	margin-top: 60px;
}
/* #popup {
	display: none;

	
} */
#colors{
	font-weight: bold;
	font-family:Georgia, 'Times New Roman', Times, serif;
	color:black;
}
/* #popup1 {
	display: none;
} */
button.mdl-button.txt-danger {
	color: rgb(244, 67, 54);
}
/* .caintain {
	box-align:center;
	border: 2px solid black;
	border-radius: 5px;
	width: 300px;
	padding: 5px;
	text-align: center;
} */
/* .get_role {
	border-radius: 5px;
	border: 2px solid black;
	padding: 5px;
	margin: auto;
	text-align: center;
	width: 300px;
} */

/* ------------------------------------------------------------------------------------ */
.mdl-dialog {
	border: none;
	box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
	width: 280px; }
	.mdl-dialog__title {
	  padding: 24px 24px 0;
	  margin: 0;
	  font-size: 2.5rem; }
	.mdl-dialog__actions {
	  padding: 8px 8px 8px 24px;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-direction: row-reverse;
		  -ms-flex-direction: row-reverse;
			  flex-direction: row-reverse;
	  -webkit-flex-wrap: wrap;
		  -ms-flex-wrap: wrap;
			  flex-wrap: wrap; }
	  .mdl-dialog__actions > * {
		margin-right: 8px;
		height: 36px; }
		.mdl-dialog__actions > *:first-child {
		  margin-right: 0; }
	  .mdl-dialog__actions--full-width {
		padding: 0 0 8px 0; }
		.mdl-dialog__actions--full-width > * {
		  height: 48px;
		  -webkit-flex: 0 0 100%;
			  -ms-flex: 0 0 100%;
				  flex: 0 0 100%;
		  padding-right: 16px;
		  margin-right: 0;
		  text-align: right; }
	.mdl-dialog__content {
	  padding: 20px 24px 24px 24px;
	  color: rgba(0,0,0, 0.54); }

