/* Containers */
.mdl-layout--fixed-tabs .mdl-layout__tab {
	flex-basis: 0;
}
div.page-content {
	padding: 20px;
	text-align: center;
}
div.main {
	padding: 10px;
}

/* Tables */
table.mdl-data-table {
	display: inline-block;
	overflow-x: scroll;
}
table.mdl-data-table tr:last-child td {
	border-bottom: none;
}
table th[colspan="2"],
table td[colspan="2"] {
	text-align: center;
}

/* Overrides */
nav.mdl-navigation
    {
      height: unset;
      box-shadow: none;
    }
    nav.mdl-navigation i
    {
      font-size: 24px;
      line-height: 1;
      height: auto;
      display: inline-block;
    }
.mdl-layout__drawer-button i.material-icons
{
  line-height: 2;
}
.mdl-spinner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#fixed-tab-1 .mdl-data-table tbody tr:hover {
	background-color: #fff;
}
#fixed-tab-1 .mdl-data-table tbody td:hover {
	background-color: #eee;
}
#fixed-tab-1 .mdl-data-table .mdl-data-table__cell {
	text-align: center;
}
.mdl-checkbox {
	width: unset;
}
.mdl-layout__drawer{
	border-right: none;
}

/* User defined */
th.activate {
	background-color: #eee;
}
#insert_data {
	display: none;
	margin-top: 60px;
}
#popup {
	display: none;
	margin-top: 60px;
}
#popup1 {
	display: none;
}
button.mdl-button.txt-danger {
	color: rgb(244, 67, 54);
}
.caintain {
	background-color: whitesmoke;
	border: 5px solid black;
	border-radius: 20px;
	width: 300px;
	padding: 10px;
}
.get_role {
	border-radius: 10px;
	border: 5px solid black;
	background-color: linen;
	padding: 10px;
	margin: auto;
	width: 500px;
}
