#card,table{
    margin-top: 20px;
    margin-left: 40px;
	
}
#card{
    font: 1.5em sans-serif;
	width:300px;
	height:200px;
	color: black;
	align-items: center;
	text-decoration: black;
}
 th[colspan]{
    text-align: center;
}

:any-link{
	color: #000;
	text-decoration: none;
}

html,

body {
	position: relative;
}

body * {
	position: relative;
}
.ss {
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	letter-spacing: 2px;
	font-style: italic;
	text-align: center;
	width: 350px;
	height: 400px;
	margin: 5px 15px;
}
.heading {
	color: blue;
	font-style: italic;
	text-align: center;
}
.users {
	text-align: center;
	text-shadow: rosybrown;
}
.RegisterForm {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 80%;
	display: none;
	z-index: 200;
	background-color: #fff;
}
.RegisterForm .container {
	background-color: #eee;
}
.RegisterForm.active {
	display: block;
}

.switch {
	position: relative;
	display: inline-block;
	width: 47px;
	height: 24px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
   .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  } 
  
   .slider:before {
	position: absolute;
	content: "";
	height: 19px;
	width: 19px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  } 
   input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  } 
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
   .slider.round:before {
	border-radius: 50%;
  } 
  * {
	box-sizing: border-box;
}

body {
	font-family: Roboto, Helvetica, sans-serif;
}

/* Fix the button on the left side of the page */
.open-btn {
	display: flex;
	justify-content: left;
}

/* Style and fix the button on the page */
.open-button {
	background-color: #1C87C9;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
}
div.mdl-layout__drawer
{
  border: none;
}
.userForm {
position: absolute;
text-align: left;
width: 100%;

}

/* Hide the Popup form */
.form-popup{
display: none;
position: relative;
left: 50%;
top: 1%;
transform: translate(-45%, 5%);
border: 2px solid rgb(0, 77, 192);
z-index: 9;

}


.form-popup {
max-width: 850;
padding: 20px;
background-color: #fff;
}

/* Style submit/login button */
.form-popup .btn {
background-color: #8EBF42;
color: #fff;
padding: 12px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom: 10px;
opacity: 0.8;
}
/* Style cancel button */
.form-popup .cancel {
background-color: #CC0000;
}
/* Hover effects for buttons */
.form-popup .btn:hover,
.open-button:hover {
opacity: 1;
}
.mdl-badge--overlap
{
	cursor: pointer;
}
.popup{
	width: 100%;
	height: 100%;
	opacity: 1;
	position: absolute;
	top : 0 ;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
   
  }
 
